* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  outline: none;
  border-radius: 3px;
}

ul li {
  list-style: none;
}

button:disabled {
  transition: 0.25s;
  cursor: pointer !important;
}

a {
  display: inline;
}

body {
  min-height: 100vh;
  background-color: #222324;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

nav {
  padding: 2.75rem 1rem;
  margin: auto;
  width: 64rem;
  background-color: hsla(335, 0%, 100%, 0.1);
  max-width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  gap: 42px;
  flex-wrap: wrap;
}

nav a {
  font-size: 18px;
}

main {
  padding: 1rem;
  background-color: #abadaf0c;
  max-width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .disabled {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.container a {
  min-width: 10rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* This dark color allows for good contrast that's why I used it */
  background-color: #222222;
  margin-bottom: 1rem;
  flex-direction: column;
}

.container .link span {
  background-color: #4c4e50;
  width: 90%;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0;
}

.container p {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  height: 2rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  margin-bottom: 1rem;
  flex-direction: column;
}

main .container hr {
  display: block;
  width: 480px;
  padding: 0 1rem;
  height: 1px;
  border: none;
  box-sizing: content-box;
  opacity: 0;
}

.container:nth-of-type(3) {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  padding: 1rem;
  flex-direction: column;
}

main button:disabled {
  pointer-events: none;
  cursor: default;
}

.card:last-of-type {
  margin-bottom: 0;
}

.card p {
  margin-top: 1rem;
  margin-bottom: 0;
  background-color: #222222;
}

header nav a .active {
  color: skyblue;
  font-weight: 600;
}

.new_card-1 {
  background-color: #444444;
  padding: 1rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.8rem;
}

.new_card-2 {
  justify-content: center;
  text-align: center;
  background-color: #333333;
  display: flex;
  align-items: center;
  padding: 1rem;
  flex-direction: column;
  font-size: 0.825rem;
}
.new_card-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #444444;
  padding: 1rem;
  font-size: 0.85rem;

  flex-direction: column;
}
.new_card-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  /* Cant decide which color to use... yet */
  /* background-color: red; */
  padding: 1rem;
  font-size: 0.875rem;

  flex-direction: column;
}
.new_card-5 {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #444444;
  padding: 1rem;
  flex-direction: column;
}

.new_card-6 {
  display: flex;
  align-items: center;
  font-size: 0.925rem;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  padding: 1rem;
  flex-direction: column;
}

.new_card-7 {
  display: flex;
  font-size: 0.95rem;
  align-items: center;

  justify-content: center;
  text-align: center;
  background-color: #444444;
  padding: 1rem;
  flex-direction: column;
}
.new_card-8 {
  display: flex;
  font-size: 0.975rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  padding: 1rem;
  flex-direction: column;
}
.new_card-9 {
  display: flex;
  align-items: center;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  background-color: #444444;
  padding: 1rem;
  flex-direction: column;
}
.new_card-10 {
  display: flex;
  align-items: center;
  font-size: 1.025rem;
  justify-content: center;
  text-align: center;
  background-color: #333333;
  padding: 1rem;
  flex-direction: column;
}
.new_card-11 {
  display: flex;
  font-size: 1.05rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #444444;
  padding: 1rem;
  flex-direction: column;
}

header nav a span {
  color: dodgerblue;
}

.my_btn {
  background-color: #404142;
  padding: 12px 32px;
  border: none;
  margin-top: 2rem;
}

.color_box-100 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
}
.color_box-90 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff90;
}
.color_box-80 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff80;
}
.color_box-70 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff70;
}
.color_box-60 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff60;
}
.color_box-50 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff50;
}
.color_box-40 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.4);
}

.color_box-30 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff30;
}

.color_box-20 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff29;
}

.color_box-10 {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #ffffff10;
}

#page-1 > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.some_element-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dedede;
  width: 50px;
  height: 3rem;
  margin: 1rem;
  background-color: #ffffff10;
}
.some_element-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dedede;
  margin: 1rem;
  background-color: #ffffff10;
}
.some_element-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dedede;
  margin: 1rem;
  background-color: #ffffff10;
}
.some_element-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dedede;
  margin: 1rem;
  background-color: #ffffff10;
}
.some_element-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dedede;
  margin: 1rem;
  background-color: #ffffff10;
}
.some_element-6 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dedede;
  margin: 1rem;
  background-color: #ffffff10;
}
/* Should I use 1 enter line breaks or 2? Think about this later */
.some_element-7 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dedede;
  margin: 1rem;
  background-color: #ffffff10;
}
.some_element-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dedede;
  margin: 1rem;
  background-color: #ffffff10;
}
.some_element-9 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dedede;
  margin: 1rem;
  background-color: #ffffff10;
}

.some_element-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #dedede;
  margin: 1rem;
  background-color: #ffffff10;
}
